<%- include ('partials/header.ejs') %>

<body>
  <%- include ('partials/navbar.ejs') %>
  <div class="container">
    <br>
    <h1><%= ask.title %></h1>
    <p><%= ask.description%></p>
  </div>
</body>
<%- include ('partials/footer.ejs') %>